name: pylavi-checks

on:
  push:
    branches:
      - main
      - master
    paths:
      - 'source'
  pull_request:
  workflow_dispatch:

jobs:

  Checks:
  
    runs-on: ubuntu-latest

    env:
      LABVIEW_VERSION_NUMBER: '20.1'
      LABVIEW_VERSION_YEAR: '2020'
      LABVIEW_BITNESS: '64'

    steps:

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install pylavi
        run: |
          pip install pylavi

      - name: Run pylavi Tests
        run: |
          vi_validate \
            --path source \
            --no-code \
            --breakpoints
